/examples/ex_fb_fbc.txt
/examples/ex_fb_fbc1.txt
/examples/ex_fb_fbc2.txt
/examples/ex_fb_l3.txt
/examples/ex_fluxobj_fbc.txt
/examples/ex_ga_bigg.txt
/examples/ex_ga_l3.txt
/examples/ex_objf_bigg.txt
/examples/ex_objf_fbc.txt
/examples/ex_objf_l3.txt
/examples/ex_reaction_bigg.txt
/examples/ex_reaction_l3.txt
/examples/ex_reaction_l3_nokv.txt
/examples/ex_spec_bigg.txt
/examples/ex_spec_cobra.txt
/examples/ex_spec_l3.txt
/examples/ex_spec_l3_v2.txt
/examples/spec-example1-bnd.lp
/examples/spec-example1-bnd.txt
/examples/spec-example1-ga.txt
/examples/spec-example1-gene.txt
/examples/spec-example1-geneand.txt
/examples/spec-example1-geneor.txt
/examples/spec-example1-obj.lp
/examples/spec-example1-obj.txt
/examples/spec-example1-reaction.txt
/examples/spec-example1.lp
/examples/spec-example1.pdf
/examples/spec-example1.txt
/examples/spec-example1.xml
/images/fbc_uml.pdf
/images/fbc_uml_ass.pdf
/images/fbc_uml_fbnd.pdf
/images/fbc_uml_fobj.pdf
/images/fbc_uml_ga.pdf
/images/fbc_uml_ga_all.pdf
/images/fbc_uml_obj.pdf
/images/fbc_uml_species-v2.pdf
/images/fbc_uml_species.pdf
/logos/sbml-badge.eps
/logos/sbml-badge.jpg
/logos/sbml-badge.pdf
/main.aux
/main.bbl
/main.blg
/main.log
/main.out
/main.pdf
/main.toc

/*.log
/*.log
/*.log
